blueprint.json
{
  "name": "Shopee Affiliate Video Pipeline",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8842825,
        "mode": "select",
        "from": "drive",
        "spreadsheetId": "/1nuxfK86v0X8rP0q58fyqm2gwF4bedOoyMSH6iOwu0aY",
        "sheetId": "Inbox",
        "includesHeaders": true,
        "tableFirstRow": "A1:Z1",
        "valueRenderOption": "FORMATTED_VALUE",
        "dateTimeRenderOption": "FORMATTED_STRING",
        "limit": 3
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "from": {
              "label": "My Drive"
            },
            "mode": {
              "label": "Search by path"
            },
            "sheetId": {
              "label": "Inbox"
            },
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Shopee Affiliate Pipeline"
            },
            "spreadsheetId": {
              "path": [
                "Shopee Affiliate Pipeline"
              ]
            },
            "includesHeaders": {
              "label": "Yes"
            },
            "valueRenderOption": {
              "mode": "chose",
              "label": "Formatted value"
            },
            "dateTimeRenderOption": {
              "mode": "chose",
              "label": "Formatted string"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          },
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "limit",
            "type": "uinteger",
            "label": "Limit",
            "required": true
          },
          {
            "name": "from",
            "type": "select",
            "label": "Drive",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "file",
            "label": "Spreadsheet ID",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "tableFirstRow",
            "type": "text",
            "label": "Row with headers",
            "required": true
          }
        ],
        "interface": [
          {
            "name": "__ROW_NUMBER__",
            "type": "number",
            "label": "Row number"
          },
          {
            "name": "0",
            "type": "text",
            "label": "Date Added (A)"
          },
          {
            "name": "1",
            "type": "text",
            "label": "Product Name (B)"
          },
          {
            "name": "2",
            "type": "text",
            "label": "Price (THB) (C)"
          },
          {
            "name": "3",
            "type": "text",
            "label": "Commission % (D)"
          },
          {
            "name": "4",
            "type": "text",
            "label": "Sales (E)"
          },
          {
            "name": "5",
            "type": "text",
            "label": "Affiliate URL (F)"
          },
          {
            "name": "6",
            "type": "text",
            "label": "Niche (G)"
          },
          {
            "name": "7",
            "type": "text",
            "label": "Status (H)"
          },
          {
            "name": "8",
            "type": "text",
            "label": "Notes (I)"
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "anthropic-claude:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "claude-haiku-4-5",
        "max_tokens": "1200",
        "textPrompt": "You are a viral TikTok scriptwriter for Shopee affiliate creators in Thailand. Write a 55-second voiceover script in Thai (130-160 words) for the product below.\n\nReturn ONLY a raw JSON object with EXACTLY these keys: script (string), caption (string), hashtags (array of 5 strings), hook_alt_1 (string), hook_alt_2 (string). Start your response with the character { and end with }. DO NOT wrap in ```json fences. DO NOT add any prose before or after the JSON. JSON only.\n\nRULES:\n- Hook in first 3 seconds, pattern-interrupt\n- Structure: HOOK -> PROBLEM -> 3 BENEFITS -> SOCIAL PROOF -> CTA\n- End with: \"กดลิงก์ในไบโอ ค้นหาโค้ดในร้าน Shopee ของฉัน\"\n- Use specifics not adjectives\n- No emojis in script (emojis OK in caption + hashtags)\n\nPRODUCT DATA:\nName: {{1.`1`}}\nPrice (THB): {{1.`2`}}\nCommission: {{1.`3`}}%\nSales: {{1.`4`}}\nNiche: {{1.`6`}}\nNotes: {{1.`8`}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "expect": {
            "model": {
              "label": "Claude Haiku 4.5"
            }
          }
        },
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true,
            "validate": {
              "enum": [
                "claude-opus-4-7",
                "claude-sonnet-4-6",
                "claude-haiku-4-5"
              ]
            }
          },
          {
            "name": "textPrompt",
            "type": "text",
            "label": "Text Prompt",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Tokens",
            "required": true
          }
        ]
      }
    },
    {
      "id": 10,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {
        "type": ""
      },
      "mapper": {
        "json": "{{trim(replace(replace(2.result; \"```json\"; \"\"); \"```\"; \"\"))}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "expect": [
          {
            "name": "json",
            "type": "text",
            "label": "JSON string",
            "required": true
          }
        ],
        "parameters": [
          {
            "name": "type",
            "type": "udt",
            "label": "Data structure",
            "required": false
          }
        ]
      }
    },
    {
      "id": 3,
      "module": "util:SetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "script",
            "value": "{{10.script}}"
          },
          {
            "name": "caption",
            "value": "{{10.caption}}"
          },
          {
            "name": "hashtags",
            "value": "{{join(10.hashtags; \" \")}}"
          },
          {
            "name": "hook_alt_1",
            "value": "{{10.hook_alt_1}}"
          },
          {
            "name": "hook_alt_2",
            "value": "{{10.hook_alt_2}}"
          },
          {
            "name": "product_name",
            "value": "{{1.`1`}}"
          },
          {
            "name": "product_price",
            "value": "{{1.`2`}}"
          },
          {
            "name": "affiliate_url",
            "value": "{{1.`5`}}"
          }
        ],
        "scope": "roundtrip"
      },
      "metadata": {
        "designer": {
          "x": 750,
          "y": 0
        },
        "expect": [
          {
            "name": "variables",
            "type": "array",
            "label": "Variables",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "any",
                "label": "Value",
                "required": true
              }
            ]
          },
          {
            "name": "scope",
            "type": "select",
            "label": "Variable lifetime",
            "validate": {
              "enum": [
                "roundtrip",
                "execution"
              ]
            }
          }
        ]
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true,
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "mapper": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/FGY2WhTYpPnrIDTdsKH5",
        "method": "post",
        "headers": [
          {
            "name": "xi-api-key",
            "value": "__ELEVENLABS_API_KEY__"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Accept",
            "value": "audio/mpeg"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": false,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"text\":\"{{3.script}}\",\"model_id\":\"eleven_multilingual_v2\",\"voice_settings\":{\"stability\":0.5,\"similarity_boost\":0.75}}",
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0,
          "messages": [
            {
              "category": "last",
              "severity": "warning",
              "message": "ElevenLabs returns binary audio. Captured for future upload to CDN; not used by JSON2Video which uses its built-in TTS."
            }
          ]
        }
      }
    },
    {
      "id": 5,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8842825
      },
      "mapper": {
        "from": "drive",
        "mode": "select",
        "spreadsheetId": "/1nuxfK86v0X8rP0q58fyqm2gwF4bedOoyMSH6iOwu0aY",
        "sheetId": "Production",
        "includesHeaders": true,
        "insertDataOption": "INSERT_ROWS",
        "useColumnHeaders": false,
        "valueInputOption": "USER_ENTERED",
        "insertUnformatted": false,
        "values": {
          "1": "{{3.product_name}}",
          "2": "{{3.affiliate_url}}",
          "5": "Generated",
          "6": "Pending TTS",
          "7": "Pending Render",
          "12": "{{3.caption}} | hashtags: {{3.hashtags}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "restore": {
          "expect": {
            "from": {
              "label": "My Drive"
            },
            "mode": {
              "label": "Search by path"
            },
            "sheetId": {
              "label": "Production"
            },
            "spreadsheetId": {
              "path": [
                "Shopee Affiliate Pipeline"
              ]
            },
            "includesHeaders": {
              "label": "Yes"
            },
            "insertDataOption": {
              "mode": "chose",
              "label": "Insert rows"
            },
            "useColumnHeaders": {
              "label": "No"
            },
            "valueInputOption": {
              "mode": "chose",
              "label": "User entered"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "google"
              },
              "label": "Shopee Affiliate Pipeline (warongkorn6560@gmail.com)"
            }
          }
        },
        "expect": [
          {
            "name": "mode",
            "type": "select",
            "label": "Search Method",
            "required": true,
            "validate": {
              "enum": [
                "select",
                "fromAll",
                "map"
              ]
            }
          },
          {
            "name": "insertUnformatted",
            "type": "boolean",
            "label": "Unformatted",
            "required": true
          },
          {
            "name": "valueInputOption",
            "type": "select",
            "label": "Value input option",
            "required": true,
            "validate": {
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "insertDataOption",
            "type": "select",
            "label": "Insert data option",
            "validate": {
              "enum": [
                "INSERT_ROWS",
                "OVERWRITE"
              ]
            }
          },
          {
            "name": "from",
            "type": "select",
            "label": "Drive",
            "required": true,
            "validate": {
              "enum": [
                "drive",
                "share",
                "team"
              ]
            }
          },
          {
            "name": "spreadsheetId",
            "type": "file",
            "label": "Spreadsheet Name",
            "required": true
          },
          {
            "name": "sheetId",
            "type": "select",
            "label": "Sheet Name",
            "required": true
          },
          {
            "name": "includesHeaders",
            "type": "select",
            "label": "Table contains headers",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "useColumnHeaders",
            "type": "select",
            "label": "Use column headers as IDs of the columns",
            "required": true,
            "validate": {
              "enum": [
                true,
                false
              ]
            }
          }
        ],
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:google",
            "label": "Connection",
            "required": true
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true,
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "mapper": {
        "url": "https://api.json2video.com/v2/movies",
        "method": "post",
        "headers": [
          {
            "name": "x-api-key",
            "value": "__JSON2VIDEO_API_KEY__"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "timeout": "",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "data": "{\"resolution\": \"instagram-story\", \"quality\": \"high\", \"scenes\": [{\"comment\": \"hook\", \"duration\": 3, \"background-color\": \"#1A1A2E\", \"elements\": [{\"type\": \"text\", \"text\": \"{{substring(3.script; 0; 60)}}\", \"x\": 540, \"y\": 960, \"width\": 920, \"font-family\": \"Noto Sans Thai\", \"font-size\": 80, \"font-weight\": \"bold\", \"color\": \"#FFD700\", \"text-align\": \"center\", \"duration\": 3}]}, {\"comment\": \"body\", \"duration\": 47, \"background-color\": \"#16213E\", \"elements\": [{\"type\": \"text\", \"text\": \"{{3.product_name}}\", \"x\": 540, \"y\": 480, \"width\": 920, \"font-family\": \"Noto Sans Thai\", \"font-size\": 64, \"font-weight\": \"bold\", \"color\": \"#FFFFFF\", \"text-align\": \"center\", \"duration\": 47}, {\"type\": \"text\", \"text\": \"{{3.product_price}} บาท\", \"x\": 540, \"y\": 960, \"width\": 920, \"font-family\": \"Noto Sans Thai\", \"font-size\": 120, \"font-weight\": \"bold\", \"color\": \"#FFD700\", \"text-align\": \"center\", \"duration\": 47}, {\"type\": \"voice\", \"text\": \"{{3.script}}\", \"voice\": \"th-TH-PremwadeeNeural\", \"model\": \"azure\"}]}, {\"comment\": \"cta\", \"duration\": 5, \"background-color\": \"#EE4D2D\", \"elements\": [{\"type\": \"text\", \"text\": \"คลิกลิงก์ใต้คลิป Shopee\", \"x\": 540, \"y\": 864, \"width\": 920, \"font-family\": \"Noto Sans Thai\", \"font-size\": 88, \"font-weight\": \"bold\", \"color\": \"#FFFFFF\", \"text-align\": \"center\"}, {\"type\": \"text\", \"text\": \"@flickfixsummaries\", \"x\": 540, \"y\": 1440, \"width\": 920, \"font-family\": \"Noto Sans Thai\", \"font-size\": 48, \"color\": \"#FFFFFF\", \"text-align\": \"center\"}]}]}",
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "util:FunctionSleep",
      "version": 1,
      "parameters": {},
      "mapper": {
        "duration": "60"
      },
      "metadata": {
        "designer": {
          "x": 1800,
          "y": 0
        },
        "expect": [
          {
            "name": "duration",
            "type": "uinteger",
            "label": "Delay in seconds",
            "required": true
          }
        ]
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true,
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "mapper": {
        "url": "https://api.json2video.com/v2/movies?project={{6.data.project}}",
        "method": "get",
        "headers": [
          {
            "name": "x-api-key",
            "value": "__JSON2VIDEO_API_KEY__"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "timeout": "",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "data": "",
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 2100,
          "y": 0,
          "messages": [
            {
              "category": "last",
              "severity": "warning",
              "message": "If status != 'done', re-run scenario manually or enhance with a repeater. V1 ships single poll."
            }
          ]
        }
      }
    },
    {
      "id": 9,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true,
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "mapper": {
        "url": "https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "contentType": "application/json",
        "timeout": "",
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "data": "{\"chat_id\":\"1165507312\",\"parse_mode\":\"HTML\",\"disable_web_page_preview\":false,\"text\":\"<b>NEW SHOPEE VIDEO READY</b>\\n\\n<b>Product:</b> {{3.product_name}}\\n<b>Price:</b> {{3.product_price}} THB\\n\\n<b>MP4:</b> {{8.data.movie.url}}\\n<b>Status:</b> {{8.data.movie.status}}\\n\\n<b>Caption:</b>\\n{{3.caption}}\\n\\n<b>Hashtags:</b>\\n{{3.hashtags}}\\n\\n<b>Affiliate URL:</b>\\n{{3.affiliate_url}}\\n\\n<b>Backup hooks:</b>\\n1) {{3.hook_alt_1}}\\n2) {{3.hook_alt_2}}\"}",
        "serializeUrl": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 2400,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}